# NYC Green Taxi
A simple program that downloads a sample from the "green taxi trip records" dataset from `azureml.opendatasets`, performs some transformations on its records and sends them as events to two Azure Event Hub instances.

**Requires the setup and configuration of two Azure Event Hubs to function.**


#### Links
1. [Microsoft documentation: NYC Taxi & Limousine Commission - green taxi trip
records
](https://docs.microsoft.com/en-us/azure/open-datasets/dataset-taxi-green?tabs=azureml-opendatasets)
2. [NYC Taxi & Limousine Commission: TLC Trip Record Data](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page)
3. [Microsoft documentation: Azure Event Hubs â€” A big data streaming platform and event ingestion service
](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-about)

## Install and import libraries
Note: You may need to restart your runtime -check the output.

In [ ]:
!pip install azureml.opendatasets
!pip install azure-eventhub

In [1]:
from azureml.opendatasets import NycTlcGreen
from azure.eventhub import EventHubProducerClient, EventData
from azure.eventhub.exceptions import EventHubError
from datetime import datetime
from dateutil.relativedelta import relativedelta
import pandas as pd
from threading import *
from time import *

## Load green taxi dataset and convert it to Pandas dataframe
Set the `start`, `end` dates, number_of_months and `sample_size` variables depending on your scenario. From the month below you can pull at least one million records.

In [3]:
green_df_raw = pd.DataFrame([])
start = datetime.strptime("1/1/2016","%m/%d/%Y")
end = datetime.strptime("1/31/2016","%m/%d/%Y")

number_of_months = 1
sample_size = 1000

for sample_month in range(number_of_months):
    temp_df_green = NycTlcGreen(start + relativedelta(months=sample_month), end + relativedelta(months=sample_month)).to_pandas_dataframe()
    green_df_raw = green_df_raw.append(temp_df_green.sample(sample_size))

[Info] read from /tmp/tmpb8a7j1ku/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=1/part-00119-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2689-1.c000.snappy.parquet

In [4]:
# print a sample of the extracted data
green_df_raw.head(10)

         vendorID  lpepPickupDatetime  ... totalAmount  tripType
256061          2 2016-01-20 18:44:28  ...       20.16       1.0
1190321         2 2016-01-13 13:30:48  ...        4.80       1.0
705096          2 2016-01-18 22:49:08  ...       16.30       1.0
1288178         1 2016-01-02 21:04:59  ...       28.30       1.0
610385          2 2016-01-17 10:31:47  ...        6.80       1.0
322829          2 2016-01-28 12:13:26  ...        8.30       1.0
1438152         2 2016-01-18 09:05:53  ...        7.56       1.0
298684          2 2016-01-27 10:13:12  ...        5.30       1.0
606368          2 2016-01-17 05:43:52  ...       58.34       1.0
315643          2 2016-01-27 18:58:08  ...        5.80       1.0

[10 rows x 23 columns]

## Preprocess dataset
*   The dataframe's index is used to create the `recordId` column.
*   We create two dataframes, `dfpayment` which has payment related columns and `dffare` which has fare related columns.
* For each dataframe we create the `event` column which has the rest of the columns in JSON format so that they can be published to the Event Hub.
* For each dataframe we create the pKey column which is a concatenation of the `vendorID` and `recordId` columns and which will be used as  
* Finally we sort both dataframes by the `recordId` column.

In [5]:
green_df_raw['recordId'] = green_df_raw.index
cols = ['vendorID','recordId']
dfpayment = green_df_raw.filter(['recordId','vendorID', 'rateCodeID','paymentType', 'fareAmount', 'extra', 'mtaTax','improvementSurcharge','tipAmount','tollsAmount','totalAmount'])
dfpayment['event'] = dfpayment.apply(lambda x: x.to_json(), axis=1)
dfpayment['pKey'] = dfpayment[cols].apply(lambda row: '-'.join(row.values.astype(str)), axis=1)
dfpayment = dfpayment.sort_values(by=['recordId'])
dffare = green_df_raw.filter(['recordId','vendorID','tripType','lpepPickupDatetime', 'lpepDropoffDatetime','passengerCount','tripDistance','puLocationId','doLocationId','pickupLongitude','pickupLatitude','dropoffLongitude','dropoffLatitude'])
dffare['event'] = dffare.apply(lambda x: x.to_json(), axis=1)
dffare['pKey'] = dffare[cols].apply(lambda row: '-'.join(row.values.astype(str)), axis=1)
dffare = dffare.sort_values(by=['recordId'])

In [6]:
# print a sample of the dffare dataset
dffare.head(5)

      recordId  ...    pKey
294        294  ...   2-294
1909      1909  ...  2-1909
2003      2003  ...  2-2003
3505      3505  ...  2-3505
6811      6811  ...  2-6811

[5 rows x 15 columns]

In [7]:
# print a sample of the dfpayment dataset
dfpayment.head(5)

      recordId  ...    pKey
294        294  ...   2-294
1909      1909  ...  2-1909
2003      2003  ...  2-2003
3505      3505  ...  2-3505
6811      6811  ...  2-6811

[5 rows x 13 columns]

## Configure connection strings to Azure Event Hub
You need the Connection stringâ€“primary key and the event hub name for each Event Hub instance.

In [8]:
evh_fare_connection_string = "Endpoint=sb://evh-namespace-alpha.servicebus.windows.net/;SharedAccessKeyName=xxx;SharedAccessKey=dfdddddddsddffsdfsetggtr=;EntityPath=evh-taxi-fare-data"
evh_fare_event_hub_name = "evh-taxi-fare-data"
evh_payment_connection_string = "Endpoint=sb://evh-namespace-alpha.servicebus.windows.net/;SharedAccessKeyName=xxx;SharedAccessKey=dfdddddddsddffsdfsetggtr=;EntityPath=evh-taxi-payment-data"
evh_payment_event_hub_name = "evh-taxi-payment-data"

## Send taxi records to event hub
We have two scenarios:
* send the dataframe records one-by-one to the Event Hub, or
* send the dataframe records in batches of 1000 events (configurable with the `max_batch_size` variable below)

Note: In both cases we use the `pKey` value as partition key. You can remove the `partition_key` variable altogether to send events in round-robin fashion.

On Event Hub partitioning, see also: [Partitioning in Event Hubs and Kafka
](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/event-hubs/partitioning-in-event-hubs-and-kafka)

### Publish records one-by-one

In [9]:
class Producer(Thread):
    def publishSingleRecord(self, name, df,connection_str,evh_name):
        producer = EventHubProducerClient.from_connection_string(conn_str=connection_str,eventhub_name=evh_name)
        for index, row in df.iterrows():
            event_data_batch = producer.create_batch(partition_key = row['pKey'])
            event_data_batch.add(EventData(row['event']))
            producer.send_batch(event_data_batch)
        producer.close()

producer = Producer()

t1 = Thread(target=producer.publishSingleRecord, args=("fare data", dffare,evh_fare_connection_string,evh_fare_event_hub_name))
t1.start()

t2 = Thread(target=producer.publishSingleRecord, args=("payment data", dfpayment,evh_payment_connection_string,evh_payment_event_hub_name))
t2.start()

### Publish records in batches

In [ ]:
# in batches of 500 records
max_batch_size = 1000

class Producer(Thread):
    def publishBatch(self, name, df,connection_str,evh_name):
        producer = EventHubProducerClient.from_connection_string(conn_str=connection_str,eventhub_name=evh_name)
        event_data_batch = None
        for index, row in df.iterrows():
            if event_data_batch is None:
                    event_data_batch = producer.create_batch(partition_key = row['pKey'])
            event_data = EventData(row['event'])
            event_data_batch.add(event_data)
            if len(event_data_batch) == max_batch_size:
                print('reached max batch size')
                producer.send_batch(event_data_batch)
                event_data_batch = None
        producer.close()

producer = Producer()

t1 = Thread(target=producer.publishBatch, args=("fare data", dffare,evh_fare_connection_string,evh_fare_event_hub_name))
t1.start()

t2 = Thread(target=producer.publishBatch, args=("payment data", dfpayment,evh_payment_connection_string,evh_payment_event_hub_name))
t2.start()